body {
    background: url("/assets/img/solidBlack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

.size {
    width: 80%;
    height: 80%;
}
